#headerjumbo {
    margin-top: 20px;
    background-size: cover;
    max-width: 100%;
    margin: 0;
}

* {
    overflow-x: hidden;
    font-family: "arial black";
}

h1, h2, h3, h4, h5 {
    overflow: hidden;
    padding: 10px;
}

.custcont {
    padding-top:50px;
    padding-left:17%;
    padding-right:15%;
    padding-bottom:50px;
}

.imagescreensmall {
    width:80%;
}

.imagescreenlarge {
    width:50%;
}

.whyuscontainer {
    color:white;
    background-color:rgba(109, 130, 195, 0.8);
}

.addpad {
    padding-top:60px;
    padding-bottom:60px;
}

.backgroundcover {
    background-position:center;
    background-size: cover;
    max-width: 100%;
}

.missioncont {
    padding-top:100px;
    padding-bottom:100px;
    color:white;
}

.meetteamcontainer {
    color:white;
    background-color:rgb(171, 129, 139);
}

.bannerimgcontainer {
    padding:5%;
    background-color:hsla(0, 0%, 100%, 0.39);
    border-radius:30px;
}

#test {
    margin:50%;
}

#icons {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    font-size: 120px;
}

#aicon {
    color:white;
}

#icons:hover {
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}